%h1
    = @topic.title

- @posts.each_with_index do |post, idx|
    %p
        = idx + 1
        \.
        = post.name
        \:
        = post.body
    
%h3 新規書き込み
= form_for @newpost, :url => post_create_path do |f|
    %p お名前
    %p
        = f.text_field :name
    %p 本文
    %p
        = f.text_area :body
    = f.hidden_field :topic_id
    = Time.zone.now
    =f.submit